fdroid/**/*.apk filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.jar filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.json filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.txt filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.png filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.yml filter=lfs diff=lfs merge=lfs -text
fdroid/**/*.xml filter=lfs diff=lfs merge=lfs -text
